body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.info-menu {
    padding: 0em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    vertical-align: middle;
    background: #385D6F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-menu div,
.info-menu ul {
    color: white;
    padding: 10px;
    text-transform: none;
}

.info-menu div {
  padding: 0;
}

.info-menu #pkg {
    display: inline-block; 
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
}

.info-menu #version {
    font-size: 0.66em;
}

.info-menu ul li:nth-child(2) {
    width: 50%;
    margin: 0 auto;
} 

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5em; 
  z-index: 1000;
  
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  
  background: #b7c8d6;
  
  display: grid;
  grid-template-columns: 30% auto 30%;
  align-items: center;
}

.header>div {
  color: black;
  vertical-align: middle;
  text-transform: none;
}

.header #pkg {
    display: inline-block; 
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Source Code Pro', monospace;
}

.header {
    font-family: 'Source Code Pro', monospace;
}

.header #version {
  font-size: 0.66em;
}

.header>div>span {
  font-size: 1.25em;
}

.header>div:first-child {
  margin-left: 30px;
}

.header>div:last-child {
  margin-right: 20px;
  text-align: center;
  justify-self: end;
}

.header>div:nth-child(2) {
  margin: 0 auto;
}



main {
  padding-top: 2.5em;
  z-index: 0;
}



pre.livecode {
  padding-top: 0;
}

.noty_body h1,h2,h3,h4,p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.noty_body a, a:visited {

  color: inherit;
}

.noty_body .server_link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noty_body .server_link a, a:visited {
  font-size: 130%;
  text-decoration: none;
}
