<!DOCTYPE HTML>
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
    <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{lang}.min.js"></script>

    <link href="web/progressbar/progressbar.css" rel="stylesheet" />
    <script src="web/progressbar/progressbar.min.js"></script>

    <script src="web/ws/ws-handler-progress.js"></script>
  </head>
  <body>
    <pre>
      <code class="{lang}">
      </code>
    </pre>
  <div id="progressbar"></div>
  </body>
</html>
