<!DOCTYPE HTML>
<html>
  <head>
    <title>{title}</title>

    <link href="web/progressbar/progressbar.css" rel="stylesheet" />
    <script src="web/progressbar/progressbar.min.js"></script>

    <link href="web/prism/themes/prism-tomorrow.css" rel="stylesheet" />
    <script src="web/prism/langs/prism-core.min.js"></script>
    <script src="web/prism/langs/prism-{lang}.min.js"></script>

    <script src="web/prism/plugins/prism-normalize-whitespace.min.js"></script>

    <script src="web/prism/plugins/prism-line-numbers.min.js"></script>
    <link href="web/prism/plugins/prism-line-numbers.css" rel="stylesheet" />

    <script src="web/prism/plugins/prism-line-highlight.min.js"></script>
    <link href="web/prism/plugins/prism-line-highlight.css" rel="stylesheet" />

    <script src="web/ws/ws-handler.js"></script>
  </head>
  <body>
    <pre class="line-numbers">
      <code class="language-{lang}">
      </code>
    </pre>
  <div id="progressbar"></div>
  </body>
</html>
