<!DOCTYPE HTML>
<html>
  <head>
    <title>{title}</title>
    <link href="web/prism/prism.css" rel="stylesheet" />
    <link href="web/progressbar/progressbar.css" rel="stylesheet" />
    <script>
      var host = "ws://{host}:{port}";
    </script>
    <script src="web/progressbar/progressbar.min.js"></script>
    <script src="web/ws/ws-handler-progress.js"></script>
  </head>
  <body>
    <script src="web/prism/prism.js"></script>
    <pre>
      <code class="language-{lang}">
      </code>
    </pre>
  <div id="progressbar"></div>
  </body>
</html>
